<!DOCTYPE html>
<html lang="en">
<head>
    <title>webrtc demo</title>
</head>
<body>
<div>
</div>
<div id="content">
    <!--    <video autoplay controls id="video1"></video>-->
    <!--    <video autoplay controls id="video2"></video>-->
    <button id="start"> 开始连麦</button>
</div>
<script src="./socket.io.js"></script>

<script>

    function sendOffer(ws, pc) {
        pc.createOffer(function(offer) {
            console.log('createOffer:', offer)
            pc.setLocalDescription(new RTCSessionDescription(offer), function() {
                // send the offer to a server to be forwarded to the friend you're calling.
                console.log('setLocalDescription:', offer)
                // channel.postMessage({
                //     msgType: 'offer',
                //     data: {offer: JSON.stringify(offer)}
                // })
                ws.emit('offer', {offer: JSON.stringify(offer)})
                // navigator.getUserMedia({audio: true, video: {width: 1280, height: 720}}, function(stream) {
                //     // pc.addStream(stream);
                //     // window.stream = stream;
                //     // pc.onaddstream({stream: stream});
                //     // ws.emit('offer', {offer: JSON.stringify(offer)})
                //     pc.addStream(stream);
                //     // stream.getTracks().forEach(track => pc.addTrack(track, stream));
                //     // ws.emit('answer',{answer: JSON.stringify(answer)});
                //     //window.stream.getTracks().forEach(track => pc.addTrack(track, window.stream));
                // }, function(err) {
                //     console.log("The following error occurred: " + err.name);
                // });
                // pc.addStream(stream);
                // stream.getTracks().forEach(track => pc.addTrack(track, stream));
            }, pc.error);
        }, pc.error);
    }

    function init(ws) {
        navigator.getUserMedia = navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia;
        navigator.getUserMedia({audio: true, video: {width: 1280, height: 720}}, function(stream) {
            pc.addStream(stream);
            // window.stream = stream;
            pc.onaddstream({stream: stream});
            // ws.emit('offer', {offer: JSON.stringify(offer)})
            // pc.addStream(stream);
            // ws.emit('answer',{answer: JSON.stringify(answer)});
            //window.stream.getTracks().forEach(track => pc.addTrack(track, window.stream));
        }, function(err) {
            console.log("The following error occurred: " + err.name);
        });
        var iceServer = {
            "iceServers": [{
                "url": "stun:stun.l.google.com:19302"
            }, {
                "url": "turn:numb.viagenie.ca",
                "username": "webrtc@live.com",
                "credential": "muazkh"
            }]
        };
        var pc = new RTCPeerConnection(iceServer);
        pc.onaddstream = function(obj) {
            console.log('onaddstream:', obj)
            const content = document.querySelector('#content')
            let video = document.createElement('video');
            video.controls = true;
            video.autoplay = 'autoplay';
            video.srcObject = obj.stream;
            // video加上对应标识，这样在对应客户端断开连接后，可以移除相应的video
            content.append(video);
            // obj.stream.getTracks().forEach(track => pc.addTrack(track, obj.stream));
        }
        pc.onicecandidate = function(event) {
            if (event.candidate !== null) {
                ws.emit('candidate', {"candidate": event.candidate});
            }
        };
        pc.error = (err) => {
            pc.endCall();
        };

        pc.endCall = () => {
            var videos = document.getElementsByTagName("video");
            for(var i = 0; i < videos.length; i++) {
                videos[i].pause();
            }
            pc.close();
        };

        const buttonStart = document.querySelector('#start');
        buttonStart.addEventListener('click', (e) => {
            sendOffer(ws, pc)
        });
        return pc
    }

    function showAcceptButton(ws, offer, pc) {
        const content = document.querySelector('#content');
        content.insertAdjacentHTML('beforeend', `<button id="accept"> 接受连麦</button>`)
        const buttonAccept = document.querySelector('#accept');
        buttonAccept.addEventListener('click', (e) => {
            pc.setRemoteDescription(new RTCSessionDescription(offer), function() {
                pc.createAnswer(function(answer) {
                    pc.setLocalDescription(new RTCSessionDescription(answer), function() {
                        // send the answer to a server to be forwarded back to the caller (you)
                        // channel.postMessage({
                        //     msgType: 'answer',
                        //     data: {answer: JSON.stringify(answer)}
                        // })
                        ws.emit('answer', {answer: JSON.stringify(answer)});
                        // navigator.getUserMedia({audio: true, video: {width: 1280, height: 720}}, function(stream) {
                        //     // pc.addStream(stream);
                        //     // window.stream = stream;
                        //     // pc.onaddstream({stream: stream});
                        //     // ws.emit('offer', {offer: JSON.stringify(offer)})
                        //     pc.addStream(stream);
                        //     ws.emit('answer',{answer: JSON.stringify(answer)});
                        //     // stream.getTracks().forEach(track => pc.addTrack(track, stream));
                        // }, function(err) {
                        //     console.log("The following error occurred: " + err.name);
                        // });
                        // const video = document.querySelector('#video2');
                        // video.srcObject = stream;
                    }, pc.error);
                }, pc.error);
            }, pc.error);
        })
    }

    function __main() {
        const ws = io();
        // const channel = new BroadcastChannel('tabs');
        const pc = init(ws);
        ws.on('connection', function() {
            console.log('ws connection')
        });
        ws.on('offer', function(msg) {
            console.log('offer: ' + msg);
            const offer = JSON.parse(msg.offer)
            console.log('parsed offer', offer)
            showAcceptButton(ws, offer, pc);
        });
        ws.on('answer', function(msg) {
            console.log('onmessage: msg.msgType === \'answer\'', msg)
            const offer = JSON.parse(msg.answer)
            pc.setRemoteDescription(new RTCSessionDescription(offer), function() {
            }, pc.error);
            // navigator.getUserMedia({audio: true, video: {width: 1280, height: 720}}, function(stream) {
            //     // pc.addStream(stream);
            //     // window.stream = stream;
            //     // pc.onaddstream({stream: stream});
            //
            //     // pc.addStream(stream);
            //     // stream.getTracks().forEach(track => pc.addTrack(track, stream));
            // }, function(err) {
            //     console.log("The following error occurred: " + err.name);
            // });
        });
        ws.on('candidate', function(msg) {
            console.log('offer: ' + msg);
            pc.addIceCandidate(new RTCIceCandidate(msg.candidate));
        });
        // channel.onmessage = evt => {
        //     const msg = evt.data;
        //     if (msg.msgType === 'offer') {
        //         console.log('onmessage: msg.msgType === \'offer\'', msg)
        //         const offer = JSON.parse(msg.data.offer)
        //         console.log('parsed offer', offer)
        //         showAcceptButton(channel, offer, pc);
        //     }
        //     if (msg.msgType === 'answer') {
        //         console.log('onmessage: msg.msgType === \'answer\'', msg)
        //         const offer = JSON.parse(msg.data.answer)
        //         pc.setRemoteDescription(new RTCSessionDescription(offer), function() { }, pc.error);
        //     }
        // };
    }

    __main()
</script>
</body>
</html>